:root {
    --color-primary: #172030;
    --gradient-primary: linear-gradient(to bottom, #2E3A53, #172030);

    --color-secondary: #1E2739;
    --color-tertiary: #4A5B7E;

    --color-accent: #C32CE2;
    --gradient-accent: linear-gradient(to bottom, #C32CE2, #7704D2);

    --color-text: #FFFFFF;
    --color-dialog: #7D7D7D66;
    --color-checked: #FFE500;
    --color-error: #E73D3D;
    --color-success: #00990F;
}